name: Release

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '12'
    - name: Install dependencies
      run: |
        sudo apt-get install -y -qq gettext
        python -m pip install --upgrade pip
        npm install
        pip install setuptools wheel django
    - name: Build package
      run: |
        python manage.py compilemessages
        python setup.py sdist bdist_wheel
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1.4
      with:
        username: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
