name: Tests

on: [push, pull_request]

jobs:

  py-tests:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox<4 tox-factor coverage
    - name: Lint with flake8
      run: tox -e flake8
      if: matrix.python-version == '3.8'
    - name: Run tests via tox
      run: |
        export TOXFACTOR=$(echo "py${{ matrix.python-version }}" | sed 's/\.//g')
        tox
    - name: Generate coverage report
      run: coverage xml
      if: ${{ success() }}
    - name: Upload coverage report
      uses: codecov/codecov-action@v2
      with:
        files: coverage.xml
        flags: unittests
      if: ${{ success() }}

  js-tests:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '12'
    - name: Install dependencies
    - name: Install dependencies
      run: npm install
    - name: Run tests
      run: npm run test:coverage
    - name: Upload coverage report
      uses: codecov/codecov-action@v2
      with:
        files: ./coverage/cobertura-coverage.xml
        flags: unittests
      if: ${{ success() }}
